<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>更换头像</title>
</head>
<body >
	<div id="top_bar" class="top_bar">
		<a href="/actions/logout.py">登出</a>
	</div>
	<div id="content" class="content">
		<div id="error" class="error">
			<span style="color: red;">{error_message}</span>
		</div>
		<h1>更换默认头像</h1>
		<form action="/actions/changeimg.py" method="post" enctype="multipart/form-data">
			<label for="image">上传文件</label><input type="file" name="image" >
			<p><input type="submit" value="提交"></p>
		</form>
	</div>
</body>
</html>
