<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>系统安装</title>
</head>
<body onload="">
<div id="error">
	<span style="color: red;"><p>{error_message}</p></span>
</div>
<div id="install_form" class="form">
	<h1>配置数据库</h1>
	<form action="/actions/install.py" method="post" accept-charset="utf-8">
		<label for="host">数据库主机：</label>
		<input type="text" name="host" value="" id="host"><br />
		<label for="port">端口：</label>
		<input type="text" name="port" value="" id="port"><br />
		<label for="user">用户：</label>
		<input type="text" name="user" value="" id="user"><br />
		<label for="password">密码：</label>
		<input type="password" name="password" value="" id="password"><br />
		<label for="database">数据库：</label>
		<input type="text" name="database" value="" id="database"><br />

		<p><input type="submit" value="安装"></p>
	</form>
</div>
</body>
</html>
